body{
  background-image: url(./img/fond.jpg);
  background-position: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  background-attachment: fixed;
  height:100%;
  width:100%;
  min-width: 600px;
}

.body-second{
    padding-top: 40%;
}
.dashboard{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.715);

}
.dashboard:hover{
  box-shadow: 0 8px 16px 0 rgba(80, 79, 79, 0.124);
  background-color: rgba(255, 255, 255, 0.915);
}

.texte{
 color : black;
}

footer {
  position: absolute;
  width: 100%;
  height: 30px,
 }
